/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.center {
    display: block;
    margin: 0 auto;
}

.center-icon {
    padding-left: 14px;
}

#foot {
    padding-bottom: 15px;
}

#download-button {
    margin-top: 5px;
}

#jargon {
    padding: 0;
    margin: 2em 2em 5em 2em;
}

.green-back {
    margin-top: 4em;
    background-color: #e8f5e9;
}

.main-img {
    margin-top: 5em;
}

.icon-text {
    margin-left: 1.5em;
    font-weight: 500;
}

.pad-h5 {
    padding: .5em 2em 0 2em;
    font-size: 1.15em;
}

ul {
    padding: 0 2em 3em 5em;
    list-style: none;
    margin-left: 0;
    text-indent: -1em;
}

li {
    padding: 20px 5px;
}