/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    min-width: 600px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.center {
    display: block;
    margin: 0 auto;
}

#foot {
    padding-bottom: 15px;
}

#download-button {
    margin-top: 5px;
}

#jargon {
    padding: 0;
    margin: 2em 2em 5em 2em;
}

.green-back {
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: #e8f5e9;
}

.main-img {
    margin-top: 5em;
}

.icon-text {
    margin-left: 1.5em;
    font-weight: 500;
}

#play-now {
    max-width: 300px;
    display: block;
    margin-bottom: 2em;
}

.pad-h5 {
    padding: .5em 2em 0 2em;
    font-size: 1.15em;
    line-height: 1.5;
}

#what {
    padding: 0 2em 3em 5em;
    list-style: none;
    margin-left: 0;
    text-indent: -1em;
}

#octo {
    margin-top: 4em
}

li {
    padding: 20px 5px;
}

td, th {
    padding: 1.5em 1em
}

table {
    margin: 3em 1em;
}

p.desc {
    margin: 2em 1em;
    font-size: 1.5em
}