/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.center {
    display: block;
    margin: 0 auto;
}

#foot {
    padding-bottom: 15px;
}

#download-button {
    margin-top: 5px;
}

.green-back {
    background-color: #e8f5e9;
}

.main-img {
    margin-top: 30px;
}

ul {
    padding: 0 5em 3em 5em;
    list-style: none;
    margin-left: 0;
    text-indent: -1em;
}

li {
    padding: 20px 5px;
}